@charset "UTF-8";
/* line 1, ../scss/sunapp.scss */
.beach_wrapper {
    width: 80%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 100px 100px 130px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 130px 130px 130px 130px 130px 130px 130px 450px 130px 130px 130px 130px 130px 130px 130px 130px;;
    gap: 0px 0px;
    float: right;
}
/* line 11, ../scss/sunapp.scss */
body {
  align-items: center;
  width: 50%;
  height: 50%;
  transform-origin: top left;
  font-family: Tahoma, sans-serif;
  background: #CEEFF1;
  margin-left: 18px;
  margin-right: auto;
}

/* line 22, ../scss/sunapp.scss */
.left_panel {
  width: 20%;
  float: left;
}

/* line 27, ../scss/sunapp.scss */
.h3 {
  /*no funciona */
  display: inline-block;
  align-items: right;
}

/* line 32, ../scss/sunapp.scss */
.zoom {
  zoom: 20%;
}

/* line 36, ../scss/sunapp.scss */
.sunbed {
  width: 70px;
  height: 40px;
  border: 2px solid;
  color: orange;
  border-color: black;
  background: green;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  margin-left: 12px;
  margin-top: 15px;
  position: relative;
}

/* line 51, ../scss/sunapp.scss */
.sunbed:nth-of-type(1) {
  background: orange;
}

/* line 55, ../scss/sunapp.scss */
.sunbed .sunbed_name {
  color: black;
}

/* line 59, ../scss/sunapp.scss */
.sunbed.step1 {
  background: LightSeaGreen;
  /*ocupado*/
}

/* line 64, ../scss/sunapp.scss */
.sunbed.step2 {
  background: red;
  /*pagado*/
}

/* line 69, ../scss/sunapp.scss */
.sunbed.step3 {
  background: linear-gradient(to left, LightSeaGreen 50%, DarkCyan 50%);
  /*ocupado con 3 hamacas cada lado*/
}

/* line 74, ../scss/sunapp.scss */
.sunbed.step4 {
  background: linear-gradient(to left, LightSeaGreen 50%, green 50%);
  /*ocupado 1 persona sola*/
}

/* line 80, ../scss/sunapp.scss */
.sunbed.step5 {
  background: orange;
  /*hamaca off*/
}

/* line 86, ../scss/sunapp.scss */
.sunbed.step6 {
  background: green;
}

/* line 90, ../scss/sunapp.scss */
.form input {
  background-color: #BCE5E7;
  border: none;
  border-bottom: 1px solid green;
  text-align: center;
  zoom: 100%;
  touch-action: none;
}

/* line 99, ../scss/sunapp.scss */
.especiales {
  background: orange;
}

/* line 103, ../scss/sunapp.scss */
.desconectados {
  visibility: hidden;
}

/* line 109, ../scss/sunapp.scss */
.primerafila {
  width: 75px;
  height: 45px;
  border-radius: 30px;
}

/* line 116, ../scss/sunapp.scss */
.h1 {
  margin-top: -50px;
}

/* line 120, ../scss/sunapp.scss */
form {
  /*Codigo centrado formulario */
  margin-top: 40px;
  border: 0;
  text-align: center;
  padding: 0;
}

/* line 128, ../scss/sunapp.scss */
.form input {
  width: 100%;
}

/* To check if do something */
/* line 134, ../scss/sunapp.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 140, ../scss/sunapp.scss */
form li + li {
  margin-top: 1px;
}

/* line 144, ../scss/sunapp.scss */
label {
  /*Tamaño y alineacion uniforme*/
  display: inline-block;
  width: 7px;
  text-align: center;
}

/* line 151, ../scss/sunapp.scss */
input, textarea {
  font: 1em sans-serif;
  widht: 7px;
  box-sizing: border-box;
  border: 1px solid #999;
}

/* line 159, ../scss/sunapp.scss */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-family: Tahoma;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e8bb4a;
  border: none;
  border-radius: 18px;
  box-shadow: 0 4px #999;
}

/* line 176, ../scss/sunapp.scss */
.button:hover {
  background-color: #b89232;
}

/* line 180, ../scss/sunapp.scss */
.button:active {
  background-color: #cfb063;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* line 186, ../scss/sunapp.scss */
.sunbed:nth-of-type(1):before,
.sunbed:nth-of-type(13):before,
.sunbed:nth-of-type(25):before,
.sunbed:nth-of-type(37):before {
  content: '1';
  position: absolute;
  right: 130%;
  font-size: 30px;
  color: red;
}

/* line 198, ../scss/sunapp.scss */
.sunbed:nth-of-type(13):before {
  content: '2';
}

/* line 202, ../scss/sunapp.scss */
.sunbed:nth-of-type(25):before {
  content: "3";
}
